.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.image-section Button {
  margin: 40px;
}

.star-icon {
  margin-inline: 20px;
}

.table {
  text-align: center;
}